<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- service connection config -->
    <add key="serviceEndPoint"
         value="http://localhost/WebHost"/>
    <add key="authKey"
         value="BackgroundWorker"/>
  </appSettings>
</configuration>